{% extends 'header.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/home.css" />
<div class="dashboard">
  <div class="dashboard-banner">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active hidden">
          <img
            class="b-redius"
            src="static/img/images-banner1.jpg"
            alt="First slide"
          />
          <div class="banner-promo">
            <h1>
              <span>50% OFF</span><br />
              Tasty Food <br />On Your Hand
            </h1>
          </div>
        </div>
        <div class="carousel-item hidden">
          <img
            class="b-redius"
            src="static/img/images-banner4.jpg"
            alt="Second slide"
          />
          <div class="banner-promo">
            <h1>
              <span>30% OFF</span><br />
              Tasty Food <br />On Your Hand
            </h1>
          </div>
        </div>
        <div class="carousel-item hidden">
          <img
            class="b-redius"
            src="static/img/images-banner3.jpg"
            alt="Third slide"
          />
          <div class="banner-promo">
            <h1>
              <span>45% OFF</span><br />
              Tasty Food <br />On Your Hand
            </h1>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- <img src="static/img/images-banner2.jpg"> -->
    <h3 class="dashboard-title">Recommended Food For You</h3>
    <div class="dashboard-menu">
      <a href="a">All</a>
      <a href="a">Best Seller</a>
      <a href="a">Favourites</a>
      <a href="a">Near Me</a>
      <a href="a">Promotions</a>
      <a href="a">Top Rated</a>
    </div>

    <div class="dashboard-content">
      <div class="dashboard-card">
        <img class="card-image" src="static/img/img1.jpg" />
        <div class="card-detail">
          <h4>Amazing Pizza<span>$30</span></h4>
          <p>Lorem ipsum color sit</p>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <a href="#ordersitem"><button class="btn-61"><span>Order</span></button></a>
        </div>
      </div>
      <div class="dashboard-card">
        <img class="card-image" src="static/img/img2.jpeg" />
        <div class="card-detail">
          <h4>Fresh Salad<span>$30</span></h4>
          <p>Lorem ipsum color sit</p>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <a href="#ordersitem"><button class="btn-61"><span>Order</span></button></a>
        </div>
      </div>

      <div class="dashboard-card">
        <img class="card-image" src="static/img/img3.jpeg" />
        <div class="card-detail">
          <h4>Sweet Pancake<span>$30</span></h4>
          <p>Lorem ipsum color sit</p>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <a href="#ordersitem"><button class="btn-61"><span>Order</span></button></a>
        </div>
      </div>
      <div class="dashboard-card">
        <img class="card-image" src="static/img/img4.jpeg" />
        <div class="card-detail">
          <h4>Well Done Chicken<span>$30</span></h4>
          <p>Lorem ipsum color sit</p>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <a href="#ordersitem"><button class="btn-61"><span>Order</span></button></a>
        </div>
      </div>
      <div class="dashboard-card">
        <img class="card-image" src="static/img/img5.jpeg" />
        <div class="card-detail">
          <h4>healthy Breakfast<span>$30</span></h4>
          <p>Lorem ipsum color sit</p>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <a href="#ordersitem"><button class="btn-61"><span>Order</span></button></a>
        </div>
      </div>
      <div class="dashboard-card">
        <img class="card-image" src="static/img/img6.jpeg" />
        <div class="card-detail">
          <h4>Fantastic Burger<span>$30</span></h4>
          <p>Lorem ipsum color sit</p>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <a href="#ordersitem"><button class="btn-61"><span>Order</span></button></a>
        </div>
      </div>
    </div>
  </div>
  <section id="ordersitem" class="popup">
    <div class="content">
      <img src="static/img/close.png" class = "close">
  </div>
</section>
  <script >
     document.querySelector('.btn-61').addEventListener("click", () =>{
  document.querySelector('.popup').style.display = "flex";
})
document.querySelector('.close').addEventListener("click", () =>{
  document.querySelector('.popup').style.display = "none";
})
  </script>

  {% endblock %}
</div>
